#headRow {
    font-weight: bold;
}

body {
    background-color: rgb(225,226,254);
    font-family: Georgia, 'Times New Roman', Times, serif
}

tbody td {
    border: 1px solid black;
    margin: 0;
}

tfoot td {
    border: 1px solid black;
    margin: 0;
}

h1 {
    font-family: 'Alegreya', serif;
    font-size: 50px;
    text-align: center;
    color: rgb(154,66,57)
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

table {
    border-collapse: collapse;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(67, 67, 68);
    width: 75px;
}

li {
    font-size: 15px;
}

.intro {
    font-family: 'Alegreya', serif;
    font-size: 25px;
    margin: auto;
    text-align: center;
    width: 960px;
}

#salesHeader {
    text-align: center;
}

fieldset {
    background-color: rgb(82, 104, 126);
    border: 2px solid white;
    color: rgb(169, 183, 197);
    margin-top: 25px;
}

#salesLink {
    margin-top: 100px;
}

#pageLink {
    background-color: #ab5032;
    color: rgb(169, 183, 197);
    padding: .5em 1em;
    text-decoration: none;
    text-transform: uppercase;
}
#pageLink:hover {
    background-color: #5c2b1b;
    text-decoration: underline;
}

#familyText {
    font-family: 'Alegreya', serif;
    font-size: 25px;
}

#locations {
    margin-top: 25px;
    margin: auto;
    width: 860px;
}

#foot {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

#locTitle {
    text-align: center;
}

.locations {
    float: left;
    width: 20%;
}

#headRow {
    background: #ab8d32
}

#triple {
    width: 960px;
    display: block;
    height: auto;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
}

.tripleImg {
   float: left;
   height: 200px;
   width: 300px;
   margin-right: auto;
   margin-left: auto;
}
 #salmon {
     margin-bottom: 25px;
     margin-left: 10%;
     margin-top: 25px;
 }
 #chinook {
     margin-bottom: 25px;
     margin-top: 25px;
 }